
body{
  background-image: url("./pokemon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body::after {
  content:"";
  position:fixed;
  top:0;
  left:0;
  bottom: 0;
  background:rgba(0,0,0,0.2);
  width:100%;
  z-index:-1;
}

.container-pokemon{
  width: 80%;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.card-body{
  text-align: center;
  background-color: #21AAEB;
}

.color-title{
  color: yellow;
}

.color-p{
  color: red;
  font-weight: 600;
}

.color-white{
  display: inline;
  color: yellow;
  border-radius: 15px;
  background: #21AAEB;
  text-align: center;
  padding: 20px 0;
}